


.container {
    display: grid;
    gap: 100px;
    width: 100%; 
    justify-items: center;
}


.caixa1, .caixa2, .caixa3 {
    width: 35%;
    height: 200px;
    padding: 34px;
    margin : 40px;
    color: aliceblue;
    text-align: center;
    border-radius: 8px;
    
    background-color: rgb(36, 35, 36);
    overflow: hidden;
    
}

.icones {
    display: inline-block;
    width: 64px;
    height: 20px;
    padding: 27px;
    color: aliceblue;
    text-align: center;
    border-radius: 8px;
    border: 2px solid rgb(204, 161, 52);
    background-color: rgb(36, 35, 36);
    overflow: hidden;
    
}

.icones img {
    position: relative;
    right: -5px;
    top: -11px;
    display: block;
    width: 80%;
    height: auto;
}



.caixa2 .icones:hover{
    
    background-color: rgb(219, 172, 52);
    color: black;
    transform: scale(1.1);
    transition: 0.3s ease-in;
    
}
